@media screen and (max-width: 768px){

    .normal-table td {
        line-height: 2;
    }
    .lead{
        text-align: right;
        font-size: 1.2rem;
        margin-top: .8rem;
    }
    .lead strong{
        color: #007bff!important;
    }

}