body {
    padding-bottom: 60px!important;
    background: #FFF;
    min-height: 100vh;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}

body > .container {
    padding: 90px 15px 20px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

/****************************头部 header css***********************************/
/* 屏幕大于等于768 */
@media Screen  and (min-width:768px){
    .mobile-show{
        display:none!important;
    }
    /*顶部*/
    header{
        height: 56px;
    }
    .navbar .home-icon{
        position: absolute;
        right: 1rem;
        top: 0rem;
        color: #666;
    }
    .home-icon .myIconfont{
        font-size: 15px;
    }
    .navbar-span img{
        width: 26px;
        height: auto;
        vertical-align: middle;
        margin-right: 5px;
    }
    .login-item{
       position: absolute;
       height: 21px;
       right: 0;
       top: 0;
       bottom: 0px;
       margin: auto;
    }
    .login-item a{
        position: relative;
    }
    .login-item a:first-child::after{
        content: "";
        position: absolute;
        height:60%;
        width: 1px;
        border-right:1px dotted rgba(255,255,255,.5);
        top: 0;
        bottom: 0;
        margin:auto;
        right: 0px;

    }
    .login-item a{
        display: inline;
    }
    /*导航下拉*/
    #navbarCollapses{
        margin-left: 2%;
    }
    #navbarCollapses .nav-item{
        padding:0 10px;
        
    }
    #navbarCollapses .nav-item .nav-link{
        padding: 0 20px;
        font-size: 14px;
    }
    .nav-item .dropdown-menu {
        top: 150%;
    }
    .dropdown-menu.show::before{
        content:"";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #FFF;
        top: -6px;
        left: 0;
        right: 0;
        margin:auto;
    }
    .dropdown-menu  .dropdown-item{
        height: 44px;
        line-height: 44px;
        font-size: 15px;
    }
    .btn-back{
        border:1px solid #DDD;
        line-height: 47px; 
        padding: 0 20px;
    }
    .tab_tle.nav-pills .nav-link.active::after, .tab_tle.nav-pills .show>.nav-link::after {
        width: 40%;
    }
    input[type=search]{
        height: 40px;
        margin-bottom: 10px;
        border-radius: 6px;
        width:200px!important;
    }
    .label-value{
        color: #666;
    }
    .list-tle{
        height:40px;
        line-height: 40px;
        /* margin-bottom:10px;
        margin-top: 0; */
        font-size: 16px;
        color: #000;
    }
    .form-control.custom-select {
        height: 34px;
        margin:0 6px;
    }
    .amount-val em{
        font-size: 18px;
        color:#F00;
        margin-right: 8px;
    }
    .lead {
        font-size: 16px;
    }
    .lead a{
        font-size: 18px;
        color: #007bff;
    }

    .img-fluid{
        max-width: 400px;
    }
}

/* 屏幕小于等于768 */
@media Screen  and (max-width:768px){
    body{
        background:#f4f4f5;  /* rgb(212, 211, 211)!important;  /**#f4f4f5*/
        font-size: 1rem;
    }
    
    .pc-show{
        display:none!important;
    }
    header{
        height: .56rem;
    }
    /*顶部*/
    header .navbar{
        padding: 0px;
    }
    .navbar .navbar-left-icon{
        display:block;
        position: absolute;
        width: 20px;
        height: 100%;
        line-height: 54px;
        left: 10px;
    }
    .navbar .navbar-left-icon .myIconfont{
        color: #FFF;
        font-size: 19px;
    }
    .navbar  .navbar-span{
        padding: .5rem 3rem;
        width: 100%;
        right: 1rem;
        background-color: #343a40!important;
        text-align: center;
    }
    .navbar .bg-dark {
        background-color: transparent!important;
    }
    .navbar .navbar-toggler {
        position: absolute;
        right: 1rem;
        top: 0.7rem;
        z-index: 999;
        width: 2rem;
        height: 2rem;
        padding:0;
    }
    /*导航下拉*/
    #navbarCollapses{
        margin-left: 0rem;
        background: #F2F2F2;
        padding: 0;
        position: absolute;
        height: calc(100vh - 56px);
        width: 100%;
        transition: all .2s;
        display: none;
        overflow-y: scroll;
    }
    #navbarCollapses .nav-item .nav-link{
        height: 44px;
        line-height: 44px;
        padding: 0;
        color: #777!important;
        padding: 0 1rem;
    }
    #navbarCollapses .nav-item .nav-link::after{
        display: none;
    }
    .nav-link.logout{
        height: 44px;
        line-height: 44px;
        margin:1rem 0;
        text-align: center;
        font-size: 15px;
        background: #FFF;
    }
    .nav-item .dropdown-menu {
        display:block;
        background: #FFF;
        color: #666;
        padding: 1rem 0;
        border:none;
    }
    .nav-item .dropdown-menu::after{
        content: "";
    }
    .dropdown-menu  .dropdown-item{
        padding:0px;
        width:30%;
        text-align: center;
        font-size: 14px;
        display: inline-block;
    }
    /* 搜索 */
    .dataTables_filter{  
        display:none!important;
    }
    /* 通用 */
    body > .container {
        padding: 55px 0px 20px!important
    }
    .footer {
        background:#FFF!important;
    }
    .row {
        
        margin-right: 0!important; 
        margin-left: 0!important;
    }
    form.col-12{
        padding-right: 0!important;
        padding-left: 0!important;
    }
     /*表单居右显示*/
     .label-value{
         text-align: right;
     }
    .form-group{
        position: relative!important;
        background: #FFF;
    }
}







@media (min-width: 576px){
    .navbar{
        max-width: 540px;
        margin: auto;
        padding: .5rem 0!important; 
    }
}

@media (min-width: 768px){
    .navbar{
        max-width: 720px;
        margin: auto;
        padding: .5rem 0!important; 
    }
}
@media (min-width: 992px){
    .navbar {
        max-width: 960px;
        margin: auto;
        padding: .5rem 0!important; 
    }
}
@media (min-width: 1200px){
    .navbar {
        max-width: 1140px;
        margin: auto;
        padding: .5rem 0!important; 
    }
}

.html{
    height: 100%;
    margin: 0;
    padding: 0;
}

.navbarlay{
    left: 100000%;
    display: none;
}


/**动画 */
.addAnimation{
    animation:mymove .2s linear; 
    -webkit-animation:mymove .2s linear; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1; 
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}

@keyframes mymove{
    from {left:-100%;}
    to {left:0%;}
}

@-webkit-keyframes mymove /*Safari and Chrome*/
{
    from {left:-100%;}
    to {left:0%;}
}
.removeAnimation{
    animation:mymove .2s linear; 
    -webkit-animation:removemymove .2s linear; 
    animation-iteration-count:1;
    -webkit-animation-iteration-count:1; 
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
@keyframes removemymove{
    from {left:0%;}
    to {left:-100%;}
}

@-webkit-keyframes removemymove /*Safari and Chrome*/
{
    from {left:0%;}
    to {left:-100%;}
}


/* 通用 */
input[type=button].btn-block, input[type=reset].btn-block, input[type=submit].btn-block {
    padding: 0;
    margin: auto;
    margin-top: 40px;
}
/* 屏幕小于等于768 */
@media Screen  and (max-width:768px){
    .clear_r:after, .clear_r:before {
        content: '';
        display: block;
        clear: both;
    }
    .clear_r{
        clear: both;
    }
}


/* 通用table css */
.dataTables_paginate{
    margin-top:20px;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin-top:20px;
}

/*********** 移动端 通用table样式 **************/
/* 屏幕小于等于768 */
@media Screen  and (max-width:768px){
    
    .table-stack .data_table {
        background: #FFF;
        border-left: 0px solid #FFF!important;
        border-right:0px solid #FFF!important;
        border-bottom: 0px solid #FFF!important;
        border-top: 1px solid #EEE!important;
    }
    .data_table tr {
        border-bottom: 1rem solid #f4f4f5;
    }
    .data_table td {
        border: none;
        padding: .5rem 1rem!important;
        border-bottom: 1px solid #EEE;
        font-size: .96rem;
        min-height: 40px;
    }
 
    .data_table td:before {
         content: attr(data-title);
         font-weight: 700;
         display: block;
         color: #666;
         font-size: 16px;
         border-bottom: 1px solid #EEE;
         margin-bottom: 5px;
         padding: .5rem 0;
     }
     
     
     .data_table .td-label{
         /* background: #f2f2f2; */
        font-size: 16px;
        color: #333;
        padding:1rem 0!important;
        background: rgba(242, 242, 242, .2);
        font-family: "微软雅黑";
        font-weight: 600;
        
    }
    /**一般没有加数据（没有data-title）表格*/
    .table-stack .normal-table{
        background: #FFF;
        border-left: 0px solid #FFF!important;
        border-right:0px solid #FFF!important;
        border-bottom: 0px solid #FFF!important;
        border-top: 1px solid #EEE!important;
    }
    .normal-table tr {
        border-bottom: 0 solid #EEE;
    }
    .normal-table td {
        border: none;
        padding: .5rem 1rem!important;
        border-bottom: 1px solid #EEE;
        font-size: .96rem;
        min-height: 40px;
    }
    .td-label{
        font-size: 1rem;
        color: #333;
    }
}




/* 通用tab样式 */

.tab_tle{
    border-bottom:1px solid #DDD;
}
/* 屏幕小于等于768 */
@media Screen  and (max-width:768px){
    .tab_tle{
        background:#FFF!important;
        font-size: 16px;
        height: 44px;
    }
    .tab_tle a{
        width: auto!important;
    }
}

.tab_tle a{
    display: inline-block;
    width: 100%;
    height: 100%;
}
.tab_tle.nav-pills .nav-link.active, .tab_tle.nav-pills .show>.nav-link {
    position: relative;
    color: #333;
    background-color: transparent;
}
.tab_tle.nav-pills .nav-link.active::after, .tab_tle.nav-pills .show>.nav-link::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: #007bff;
    bottom: 0px;
    left: 0;
    right: 0;
    margin: auto;
}

/* 上传css */
.upload label{
    display: inline-block;
    margin-right: 10px;
    margin-left: 1rem;
}
.upload-rt{
    flex: 1;
    padding-right: 20px;
    padding-left: 30px
}
/* 屏幕小于等于768 */
@media Screen  and (max-width:768px){
    .upload-rt{
        padding-left: 0;
        text-align: right;
    }
    .upload-box span{
        margin-right: .6rem
    }
}
.upload-box{
    position: relative;
    display: inline-block;
    height: 40px;
    cursor: pointer;
}
.upload-box button{
    height: 40px;
    min-width: 100px;
    border:1px solid #DDD;
    background-color: transparent;
}
.upload-box button i{
    margin-right: 3px;
    color: #666;;
    font-size: 18px;
    vertical-align: middle;
}
.upload-box input[type="file"] {
    height: 100%;
    opacity: .01;
    filter: Alpha(opacity=1);
    position: absolute;
    left: 0;
    top: 0;
}
.upload-box span{
    width: 100px;
    height: 100px;
    overflow: hidden;
}
.upload-box img{
    height: 100%;
    width: auto;
    margin-left: 5px;
}

/*表单行高度*/
.form-control, .selectize-input{
    min-height: 44px;
    min-width: 100px;
}









/**手机端通用表单css*/
@media screen and (max-width:768px){
    .row:after,.row:before {
        content: '';
        display: block;
        clear: both
    }
    .list-tle{
        padding:  0 9px;
        color: #333;
        font-size: 16px;
        line-height: 44px;
        height: 44px;
        line-height: 44px;
        font-weight: bolder;
        position: relative;
        background: #FFF;
        margin-bottom: 1rem;
    }
    .input-list{
        /* background: #FFF; */
    }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 0;
        padding-left: 0;
    }
    .input-list .form-group {  /*.input-list .mb-2, .input-list .mb-4*/
        min-height:30px;
        border-bottom:1px solid #eeeeee;
        padding:5px 15px;
        margin-bottom:0;
        box-sizing:border-box;
        -moz-box-sizing:border-box; /* Firefox */
        -webkit-box-sizing:border-box; /* Safari */
    }
    .input-list label{
        /* flex: .32!important; */
        color: #333;
        font-size: 1rem;
    }
    .input-list .col label{
        color:#666;
    }
    .input-list .form-control, .input-list .selectize-input{
        border-color:transparent;
    }
    .input-list input{
        border-color:transparent;
        font-size: 1rem;
    }
    .input-list .page .mb-2, .input-list .page .mb-4{
        margin-bottom: 0!important;
    }
    .input-list .page .mb-2 .input-group-text, .input-list .page .mb-4 .input-group-text{
        border:none;
        background: transparent;
    }
    .input-list .page .mb-2 .bg-light, .input-list .page .mb-4 .bg-light{
        background: transparent!important;
    }

   .input-list  select{
    font-size: 1rem;
   }
}

/**手机端下载按钮表单css*/
@media screen and (max-width:768px){
    .file-list1{
        padding:  0 9px;
        color: #333;
        font-size: 16px;
        line-height: 16px;
        min-height: 44px;
        font-weight: bolder;
        position: relative;
        background: #fbf9fe;
    }
    .file-list1  label{
        flex: .4!important;
        color: #333;
        font-size: 15px;
    }
}


/*充值页面css */
@media screen and (max-width:768px){
    .amount-label{
        /* display: block;
        width: 100%; */
    }
    .amount-input{
        position: relative;
        padding-left: 20px!important;
        padding-right: 15px!important;
    }
    .amount-input::after{
        content: "￥";
        position:absolute;
        left:15px;
        top: .2rem;
        font-size: 1.5rem;
        color:#666;
    }
    .amount-input input{
        padding-left: 1.5rem;
    }
    .amount-form .amount-label{
        align-items: center;
        display: flex;
    }
    .amount-form .amount-val{
        text-align: right;
    }
    .amount-form em{
        font-size: 2.2rem; width: 100%; text-align: center
    }
    .amount-values{
        padding-left: 15px!important;
        padding-right: 15px!important;
        border-bottom: 1px solid #EEE;
    }
}


/*********************新增药品*****************/
/**小于768**/
@media screen and (max-width:768px){  
    .input-list .form-group {
        
    } 
    .add-drug .form-group{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        min-height: 30px;
        border-bottom: 1px solid #eeeeee;
        padding: 5px 1rem;
        margin-bottom: 0;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }
    .add-drug .form-group label{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: .375rem .75rem;
        margin-bottom: 0;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        text-align: center;
        white-space: nowrap;
        
    }
    .add-drug .form-group .form-control, .input-group>.custom-select, .input-group>.form-control {
        position: relative;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        margin-bottom: 0;
        border: none;
        color:#888;
    }
    .add-drug .btn-primary{
        width: 90%;
        margin: auto;
    }
}

/*********** 微信支付 **************/
/**小于768**/
@media screen and (max-width:768px){  
    .wechat-body .wechat-content{
        margin:2rem 1.5rem 1rem 1.5rem;
    }
}


.nav-link.nav-username{
    font-size: 16px!important;
    color: #FFF!important;
}
.nav-avatar{
    display: inline-block;
    width:25px;
    height:25px;
    overflow: hidden;
    vertical-align: top;
    margin-right: 8px;
    border-radius: 17px;
}
.nav-avatar img{
    max-width: 100%;
    height:auto
}



